In [1]:
import pandas as pd

In [2]:
csv_path = '2019.csv'

In [3]:
df = pd.read_csv(csv_path)
df.head()

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Cmp,Att,Yds,...,FumblesLost,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints
0,0,Christian McCaffrey,CAR,RB,23.0,16.0,16.0,0.0,2.0,0.0,...,0.0,0.0,0.0,2.0,1387.0,15.0,287.0,1005.0,4.0,469.20
1,1,Lamar Jackson,BAL,QB,22.0,15.0,15.0,265.0,401.0,3127.0,...,2.0,3127.0,36.0,401.0,1206.0,7.0,176.0,0.0,0.0,415.68
2,2,Derrick Henry,TEN,RB,25.0,15.0,15.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,1540.0,16.0,303.0,206.0,2.0,294.60
3,3,Aaron Jones,GNB,RB,25.0,16.0,16.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1084.0,16.0,236.0,474.0,3.0,314.80
4,4,Ezekiel Elliott,DAL,RB,24.0,16.0,16.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1357.0,12.0,301.0,420.0,2.0,311.70

In [4]:
df = df.loc[df['Pos'] == 'RB', ['Player', 'Tgt', 'RushingAtt', 'FantasyPoints']]
df['Usage'] = df['Tgt'] + df['RushingAtt']

ok there is alot going on so here goes a breakdown of this code
_________________________________________________________________

.loc lets us select portions of our dataframe based off of the row then column in our dataframe.

                .loc[(df['Pos'] == 'RB')
                
this first portion is our row selector, what we are telling python is that for each for in our df only choose the ones that the 'Pos' is equal to 'RB'. This is called Boolean indexing

the second part of our .iloc is the column selector. in this part you are telling pandas these are the columns that i want in my dataframe. 

               , ['Player', 'Tgt', 'RushingAtt', 'FantasyPoints']]
  
 This way we only keep these columns and exclude everything else from our data frame.

df['Usage'] = df['Tgt'] + df['RushingAtt']

ok so this part of the code is pretty intuitive to me at this point basically it is saying the new column in df is called ['Usage'] and usage is equal to df['Tgt'] + df['RushingAtt']

In [5]:
df.head(5)

                Player    Tgt  RushingAtt  FantasyPoints  Usage
0  Christian McCaffrey  142.0       287.0          469.2  429.0
2        Derrick Henry   24.0       303.0          294.6  327.0
3          Aaron Jones   68.0       236.0          314.8  304.0
4      Ezekiel Elliott   71.0       301.0          311.7  372.0
5          Dalvin Cook   63.0       250.0          292.4  313.0