In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [2]:
csv_path = '2019.csv'

In [3]:
df = pd.read_csv(csv_path)
df.head()

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Cmp,Att,Yds,...,FumblesLost,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints
0,0,Christian McCaffrey,CAR,RB,23.0,16.0,16.0,0.0,2.0,0.0,...,0.0,0.0,0.0,2.0,1387.0,15.0,287.0,1005.0,4.0,469.20
1,1,Lamar Jackson,BAL,QB,22.0,15.0,15.0,265.0,401.0,3127.0,...,2.0,3127.0,36.0,401.0,1206.0,7.0,176.0,0.0,0.0,415.68
2,2,Derrick Henry,TEN,RB,25.0,15.0,15.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,1540.0,16.0,303.0,206.0,2.0,294.60
3,3,Aaron Jones,GNB,RB,25.0,16.0,16.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1084.0,16.0,236.0,474.0,3.0,314.80
4,4,Ezekiel Elliott,DAL,RB,24.0,16.0,16.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1357.0,12.0,301.0,420.0,2.0,311.70

In [4]:
df = df.loc[df['Pos'] == 'RB', ['Player', 'Tgt', 'RushingAtt', 'FantasyPoints']]
df['Usage'] = df['Tgt'] + df['RushingAtt']

In [5]:
df['UsageRank'] = df['Usage'].rank(ascending = False)
df['FantasyPointsRank'] = df['FantasyPoints'].rank(ascending = False)
df.sort_values(by = 'UsageRank').head(15)

,Player,Tgt,RushingAtt,FantasyPoints,Usage,UsageRank,FantasyPointsRank
0,Christian McCaffrey,142.0,287.0,469.2,429.0,1.0,1.0
4,Ezekiel Elliott,71.0,301.0,311.7,372.0,2.0,3.0
28,Leonard Fournette,100.0,265.0,259.4,365.0,3.0,7.0
8,Nick Chubb,49.0,298.0,255.2,347.0,4.0,8.0
2,Derrick Henry,24.0,303.0,294.6,327.0,5.0,5.0
17,Chris Carson,47.0,278.0,232.6,325.0,6.0,12.0
62,Le'Veon Bell,78.0,245.0,213.0,323.0,7.5,16.0
22,Joe Mixon,45.0,278.0,225.4,323.0,7.5,13.0
5,Dalvin Cook,63.0,250.0,292.4,313.0,9.0,6.0
3,Aaron Jones,68.0,236.0,314.8,304.0,10.0,2.0
20,Saquon Barkley,73.0,217.0,244.1,290.0,11.0,10.0
65,David Montgomery,35.0,242.0,170.4,277.0,12.0,24.0
48,Phillip Lindsay,48.0,224.0,197.7,272.0,13.5,19.0
23,Todd Gurley,49.0,223.0,217.4,272.0,13.5,14.0
35,Josh Jacobs,27.0,242.0,191.6,269.0,15.0,21.0

In [6]:
def covariance(x, y):
    n = len(x)
    return sum((x - np.mean(x)) * (y - np.mean(y))) * 1/(n-1)

In [8]:
x = df['Usage'].values
y = df['FantasyPoints'].values

In [9]:
def corr(x, y):
    return covariance(x, y)/(np.std(x) * np.std(y))
corr(x, y)

0.967330979222704

Machine learning algorithms are classified in to two categories- those that "train" or learn with data that is labeled and those that dont. the first is known as supervised machine learning and the last is knows as unsupervised machine learning. 

for this series we are going to focus on supervised machine learning. 

Ok and so supervised machine learning algorithms can be broken down even further. In to regression algorithms and classification algorithms. 

Regression algorithms: are used to predict a continuous output - outputs that can span an interval. weights, stock prices and fantasy football are all continuous outputs and thus can be predicted using regression algorithms

Simple Linear Regression or (SLR) the way slr works is it takes in one explanatory variable, also known as an independent variable and outputs continous value. In this case that will be used to predict fantasy football performance

The first thing we need to do before using the slr to predeict fantasy points is to train the algorithm. so we split our data in to training data and testing data. we will use a function to do this in the code, and we take a algorithm and input our training data into it. it takes this data to predict fantasy points in the future.from there we the evaluate how the predicted values faired with the actual values and calculate the ROOT MEAN SQUARED ERROR- this tells us how our model did.

First thing we need to do is seperate the training and testing data. its not a good idea to test the model on the same data you used to train it.

In [10]:
from sklearn.model_selection import train_test_split

In [17]:
X = df['Usage'].values
Y = df['FantasyPoints'].values
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [19]:
x_train[:20]

array([ 49.,   5., 242., 135.,  40.,   4.,   9.,  12., 189.,  74., 217.,
       272., 128.,  93.,  73.,  32., 231., 154.,  11.,   3.])

In [20]:
y_test[:20]

array([  9.4,  50.6, 146.3,  92.6,   4.3,  15. , 101.4, 147. ,   8.2,
       212.2, 469.2,  17. ,   9.7,  68.4,   4.3,   9.4,  29.7, 103.3,
       198.2,  32.1])

So what happened here?

First we imported sklearn library called train_test_split tp split our data in to training and testing sets. sklearn is provided by scikit-learn the defacto machine learning library for python 

we set our X and Y variables, 'Usage' is our X as its our independent variable- its being used to test our theory for fantasy performance. Y is set to our fantasy points column as its being explained and predicted by our model. 

by default, train_test)split needs a numpy array as arguments to its function. the way we do this in pandas is by tacking on the  .values at the end there. Pandas then takes our dataframe column or series and converts it to a numpy array

Soooo.... what does test_size=0.2 mean? its telling skilearn here that we'd like to save 20% of our data for testing & the remaining 80% will be used in our algorithm

train_test_split gives us back 4 values by default. In Python, when a function gives us back multiple values we can "unpack" the return values of the function using this notation or syntax.

at the very end x-train and y_train are outputted to make sure everything is ok the [:20] means we want to see the first 20 items in the list